<div class="row">
	<main class="col-xs-12">
		<p>I typically teach courses in frontend implementation, Human-Computer Interaction, Ubiquitous Computing, and Personal Informatics at the undergraduate and graduate level. I also mentor undergraduate students as independent studies and as honors theses.</p>
		<h2>IN4MATX 133, User Interface Software</h2>
		<p>Programming and development of frontend user interfaces, with a specific focus on modern web and mobile technology. Emphasizes development with modern frameworks, learning to use external APIs, and storing in databases.</p>
		<p><a href="http://inf133-fa19.depstein.net">Fall 2019</a></p>
		<p><a href="http://inf133-fa18.depstein.net">Fall 2018</a></p>
		<h2>IN4MATX 231, User Interface Design & Evaluation</h2>
		<p>An introduction to the the parctical skills of human-computer interaction (HCI), with an emphasis on user interface design and evaluation. Covers practical methods for user needs and task analysis as well as interface testing, and guidelines for good user interface design.</p>
		<p><a href="http://inf231-fa19.depstein.net">Fall 2019</a></p>
		<h2>IN4MATX 241, Introduction to Ubiquitous Computing</h2>
		<p>Understanding and interpreting the move of computing towards ubiquitous devices, including the "internet of things" and wearable devices. Emphasizes reading of historical and modern research literature and implementing or evaluating novel ubiquitous technology.</p>
		<p><a href="http://inf241-wi19.depstein.net">Winter 2019</a></p>
		<h2>IN4MATX 295, Personal Informatics</h2>
		<p>Personal informatics systems help people collect personally relevant information for the purpose of self-reflection and gaining self-knowledge. Emphasizes reading of historical and modern research literature and conducting a project relevant to the topi.</p>
		<p><a href="http://inf295-wi20.depstein.net">Winter 2020</a></p>
	</main>
</div>