doctype html
html
	head
		title= 'Daniel Epstein'
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Serif|Lato:400,400italic,300,700' type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="javascripts/jquery-2.1.4.min.js")
		script(src="javascripts/bootstrap.min.js")
		script(src="javascripts/moment.min.js")
	body
		.container
			.row
				header.col-xs-12
					.col-xs-6.name
						h1 Daniel Epstein
					nav.col-xs-6
						a(href='/') Home
						|  | 
						a(href='/publications') Publications
						|  | 
						a(href='/projects') Projects
						|  | 
						a(href='/cv' target='_blank') CV
			hr
			.row
				block content
			hr
			.row
				footer.col-xs-12
					script.
						$('footer').html("Copyright © " + moment().format("YYYY") + " by Daniel Epstein.");