doctype html
html
	head
		title= 'Daniel Epstein'
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700' type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery-2.1.4.min.js")
		script(src="/javascripts/bootstrap.min.js")
		script(src="/javascripts/moment.min.js")
		//script(src="/bower_components/webcomponentsjs/webcomponents.min.js")
		//link(rel="import", href="/bower_components/flag-icon/flag-icon.html")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-39963759-1', 'auto');
			ga('send', 'pageview');
	body
		.container
			.row
				header
					.col-md-6.col-sm-12.name
						h1 Daniel Epstein
					nav.col-md-6.col-sm-12
						a(href='/') Home
						|  | 
						a(href='/publications') Publications
						|  | 
						a(href='/projects') Projects
						|  | 
						a(href='/cv' target='_blank') CV
			.row
				hr
			.row
				block content
			hr
			.row
				footer.col-xs-12
					script.
						$('footer').html("Copyright © " + moment().format("YYYY") + " by Daniel Epstein.");