extends layout
include mixins/display_publications

block content
	main.col-xs-12
		.project.row
			.image.col-md-3.hidden-sm
				img(src='images/model_giant.png')
			.description.col-md-9.col-sm-12
				h2 Understanding people's current self-tracking practices
				p There has been a steady increase in the number of people who have tracked an aspect of themselves with technology. However, not everyone finds the experience positive. These projects seek to understand people's concerns, frustrations, and reservations about self-tracking.
				p To understand people's habits, I survey and interview people around why they began self-tracking, and when applicable, why they forewent tracking. This then motivates the design of self-tracking technology that better aligns with people's motivations and avoids points of difficulty.
				p These projects have explored people's self-tracking practices in a variety of domains, specifically physical activity, finances, location, and food consumption.
				h3 Related publications
				mixin display_publications(bib_practices, false)
		hr.separate
		.project.row
			.image.col-md-3.hidden-sm
				img(src='images/breaks.png')
			.description.col-md-9.col-sm-12
				h2 Designing self-tracking experiences which align with people's goals
				p With an understanding of people's current self-tracking practices in mind, I design and implement self-tracking experiences to promote awareness and mindfulness of current habits.
				p One core challenge across these projects is making sense of collected data. Sensing technology and journaling tools have excelled at helping people create rich datasets about themselves, but designs often struggle to provide interpretable representations and promote self-understanding.
				p These projects explore designs in a variety of self-tracking domains, including the quantified workplace, food consumption, physical activity, and location.
				h3 Related publications
				mixin display_publications(bib_design, false)
		hr.separate
		.project.row
			.image.col-md-3.hidden-sm
				img(src='images/tweet.png')
			.description.col-md-9.col-sm-12
				h2 Designing encouraging self-tracking social experiences on social networks
				p People often share their self-tracked data or findings from self-tracking with others for encouragement, support, and awareness. Unfortunately, when people share this data online, they are often disappointed with the responses and engagement they receive (or lack thereof).
				p These projects explore how to design more engaging, encouraging personal data sharing experiences on social networks. These projects consider what else is necessary to share besides the data itself. Audiences on social networks appreciate understanding why the data shared is noteworthy, and respond more favorably when pictures or other supplemental content are included.
				h3 Related publications
				mixin display_publications(bib_social, false)