extends layout
include mixins/display_publications

block content
	.col-xs-12
		h1 Publications
		label(for='conference')
			input(type='checkbox' id='conference' name='conference' onclick='showPubs(true);' checked)
			| Conference papers
		label(for='workshop')
			input(type='checkbox' id='workshop' name='workshop' onclick='showPubs(true);')
			| Lightly reviewed papers (workshop papers, posters)
		mixin display_publications(bib, true)
		script.
			var mapping = {'conference':['paper', 'note'], 'workshop':['wip', 'workshop', 'poster']};
			function showPubs(animate) {
				var allChecked = [];
				$('input:checkbox').each(function () {
					var checked = this.checked;
					mapping[$(this).attr('name')].forEach(function(n) {
						if(animate) {
							checked?$('cite.' + n).slideDown('fast'):$('cite.' + n).slideUp('fast').css('display', 'block');
						} else {
							checked?$('cite.' + n).show().css('display', 'block'):$('cite.' + n).hide();
						}
						if(checked) {
							allChecked.push(n);
						}
					});
				});
				//Hide/show publication years
				var bib = !{JSON.stringify(bib)};
				var years = jQuery.unique(bib.map(function(b) { return b.YEAR; }));
				var yearsFiltered = jQuery.unique(bib.filter(function(b) { return allChecked.indexOf(b.type) != -1;}).map(function(b) { return b.YEAR; }));
				years.forEach(function(y) {
					if(animate) {
						yearsFiltered.indexOf(y) != -1?$('h2.' + y).slideDown('fast'):$('h2.' + y).slideUp('fast');
					} else {
						yearsFiltered.indexOf(y) != -1?$('h2.' + y).show():$('h2.' + y).hide();
					}
				});
			}
			showPubs(false);
			