extends layout

block content
	main.col-xs-12
		p I typically teach courses in frontend implementation, Human-Computer Interaction, and Ubiquitous Computing at the undergraduate and graduate level.
		h2 IN4MATX 133, User Interface Software
		p Programming and development of frontend user interfaces, with a specific focus on modern web and mobile technology. Emphasizes development with modern frameworks, learning to use external APIs, and storing in databases.
		p
			a(href="http://inf133-fa18.depstein.net") Fall 2018
		h2 IN4MATX 241, Introduction to Ubiquitous Computing
		p Understanding and interpreting the move of computing towards ubiquitous devices, including the "internet of things" and wearable devices. Emphasizes reading of historical and modern research literature and implementing or evaluating novel ubiquitous technology.
		p
			a(href="http://inf241-wi19.depstein.net") Winter 2019