<div class="row">
	<main class="col-12">
		<div class="project row">
			<div class="image d-none d-md-block col-lg-3">
				<img src='assets/images/projects/mediator.png' alt='a visualization depicting parents as a mediator of phones for children who use wearable step trackers'>
				<img src='assets/images/projects/menstrual.png' alt='screenshot of the P. Tracker Lite app'>
				<img src='assets/images/projects/model_giant.png' alt='the lived informatics model'>
			</div>
			<div class="description col-md-12 col-lg-9">
				<h2>Understanding people's current self-tracking practices</h2>
				<p>Though people may have the best intentions in mind, their self-tracking habits intersect with the realities of everyday life. People face difficulties keeping up the habit, circumstances where tracking tools do not work as they expect or desire, and times where their preferences or experiences do not align with what the technology is trying to promote. Studying these challenging experiences can lead to opportunities for improving the design of self-tracking tools.</p>
				<p>My work often uses specific domains like food journaling, menstrual tracking, or physical activity tracking as exemplars for understanding people's self-tracking practices more generally.</p>
				<h3>Related publications</h3>
				<app-citations [publications]="practicesPublications" [animate]=false [displayYears]=false></app-citations>
			</div>
		</div>
		<hr class="projects">
		<div class="project row">
			<div class="image d-none d-md-block col-lg-3">
				<img src='assets/images/projects/abandonment.png' alt='a graph providing insight to someone who has lapsed tracking'>
				<img src='assets/images/projects/breaks.png' alt='a graph of a persons break habits'>
				<img src='assets/images/projects/cut.png' alt='a graph of what mode of transportation a person uses'>
			</div>
			<div class="description col-md-12 col-lg-9">
				<h2>Designing self-tracking experiences which align with people's needs</h2>
				<p>Designing self-tracking technology with people's needs in mind can address many of the challenges people face to using self-tracking tools, though certainly not all. Evaluating new design strategies can inform best practices for the design of self-tracking tools and suggest new opportunities for directions to consider.</p>
				<p>One core challenge across these projects is deriving value from collected data. Sensing technology and journaling tools have excelled at helping people create rich datasets about themselves, but designs often struggle to provide interpretable representations and promote self-understanding. Tracking also often occurs collaboratively, leading to a need for designs to support people in understanding the needs and behaviors of others.</p>
				<h3>Related publications</h3>
				<app-citations [publications]="designPublications" [animate]=false [displayYears]=false></app-citations>
			</div>
		</div>
		<hr class="projects">
		<div class="project row">
			<div class="image d-none d-md-block col-lg-3">
				<img src='assets/images/projects/sticker.png' alt='a sticker with a step count as part of a Snap'>
				<img src='assets/images/projects/yarn.png' alt='importing feedback from Facebook in Yarn'>
				<img src='assets/images/projects/food4thought.png' alt='the Facebook group in the Crumbs project'>
			</div>
			<div class="description col-md-12 col-lg-9">
				<h2>Developing positive personal data sharing experiences</h2>
				<p>People often share their self-tracked data or findings from self-tracking with others for encouragement, support, awareness, or collective behaviors. Unfortunately, when people share this data, they are often disappointed with the responses and engagement they receive (or lack thereof) and ability to collaboratively use their data.</p>
				<p>Creating more engaging, encouraging personal data sharing experiences can provide people further opportunity for support from one another. To demonstrate the significance of the moments people track and share, my designs often aim to contextualize data or combine data with meaningful content.</p>
				<h3>Related publications</h3>
				<app-citations [publications]="socialPublications" [animate]=false [displayYears]=false></app-citations>
			</div>
		</div>
		<hr class="projects">
		<div class="project row">
			<div class="image d-none d-md-block col-lg-3">
				<img src='assets/images/projects/atplanner.png' alt='part oof an app for supporting tapering of antidepressants'>
				<img src='assets/images/projects/geniauti.png' alt='part of an app for monitoring challenging behaviors of autistic children'>
				<img src='assets/images/projects/taper.png' alt='a taper plan for discontinuing antidepressants'>
			</div>
			<div class="description col-md-12 col-lg-9">
				<h2>Supporting use of self-tracking data in health settings</h2>
				<p>There is increasing desire to incorporate self-tracking data into clinical and public health settings to support health alongside wellbeing. However, there are significant time and logistical burdens to leveraging patient-generated health data, both for patients and for clinicians, and for using it for public health monitoring. My work aims to better understand these burdens and account for them in the design of technology. Often these burdens are social and infrastructural, requring careful consideration of how to collect valuable data and make it helpful within complex health settings.</p>
				<h3>Related publications</h3>
				<app-citations [publications]="clinicalPublications" [animate]=false [displayYears]=false></app-citations>
			</div>
		</div>
		<hr class="projects">
		<div class="project row">
			<div class="image d-none d-md-block col-lg-3">
				<img src='assets/images/projects/pi_count.png' alt='snippet of graph of personal informatics publications by year'>
				<img src='assets/images/projects/lttloop.png' alt='part of a loop depicting how people use tracking technology over the long-term'>
				<img src='assets/images/projects/semiautomated.png' alt='semi-automated tracking spectrum for food'>
			</div>
			<div class="description col-md-12 col-lg-9">
				<h2>Reflecting on the self-tracking research literature</h2>
				<p>While most of my research into self-tracking systems contributes and evaluates novel or popular strategies for self-tracking, some of my work reflects on and synthesizes the research literature to point to opportunities for future research and design. I typically do this work in collaboration with other experts in the area, building across our shared experiences designing and evaluating self-tracking tools.</p>
				<h3>Related publications</h3>
				<app-citations [publications]="reflectingPublications" [animate]=false [displayYears]=false></app-citations>
			</div>
		</div>
	</main>
</div>