<div class="row">
	<main class="col-12">
		<div class="show row">
			<span class="col-12">Show: </span>
			<label [for]="pubType.type" class="col-12 col-md-6 col-lg-3" *ngFor="let pubType of publicationTypes">
				<input type='checkbox' [name]='pubType.type' [id]='pubType.type' (change)="filterPublications()" [(ngModel)]="checked[pubType.type]"> {{pubType.name}}
			</label>
		</div>
		<hr class="publications">
		<app-citations [publications]="publications" [displayYears]=true [animate]=true></app-citations>
	</main>
</div>